 *{
    box-sizing: border-box;
}

body {
    font-family:Roboto;
    background-color: #f1f1f1;
    color: #212121;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    border: 1px solid #0d161b;
}

h1 {
    margin: 0;
    color: #0f1010;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.breed-select {
    display: none;
    max-width: 500px;
    margin: auto;
}

.loader {
    font-size: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}


 .cat-info {
    margin-top: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#e8e1e2;
    border: 1px solid #d3d3d3;
}

.box-img {
    display: flex;
    align-items: center;
}

.box {
    width: 400px;
    padding: 20px;
}

.error {
    color: rgb(100, 98, 100);
}  